.user-panel{
    height: 60px;
}
.user-panel>.info{
    position: relative;
    left: auto;
}
/*color para letras menu admin*/
.skin-blue .sidebar-menu>li.header{
    color: white;
}
/*oculto el copyright*/
.login-page .main-footer{
    display: none ;
}


/*PARA CREAR REGISTRADOS*/
.contenido-dia{
    display: none;
}
h4.nombre_dia{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #fe4918; 
}

.tabla-precio ul,
ul.lista-precios{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.lista-precios li .numero{
    font-size: 30px;
}

.tabla-precio h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fe4918;
}

.contenido-dia label{
    font-weight: normal;
}
.contenido-dia time{
    color:  #fe4918;
    font-weight: bold;
}